*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color:#23252C;
    display:flex;
    justify-content:center;
}

/*CARD */
.card{
    width:550px;
    height:600px;  
}
.profile-photo{
    width:100%;
    height:600px;
}

.profile-photo > img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: top;
    border-radius:20px;
}

/*MAIN INFO */
.main-info{
    text-align:center;
    background-color:#1A1B21;
}

.main-info > h1,p{
    color:white;
    margin-bottom:20px;
}

.main-info > h1{
    padding-top:20px;
}

.main-info > h2{
    color:#F3BF99;
    font-weight: 100;
}

.main-info > button{
    background-color:white;
    padding:10px;
    width:350px;
    border-radius:10px;
    color:#1E1F26;
    font-size:20px;
}

.main-info .fa-envelope{
    font-size:20px;
    margin-right:10px;
}

/*ABOUT ME */
.about-me{
    width:100%;
    padding:40px;
    text-align:left;
}
.about-me > h2, .about-me > p{
    color:white;
    margin-bottom:10px;
}

.about-me > p{
    font-weight: 100;
}

/*FOOTER*/
.footer{
    background-color:#161619;
    text-align:center;
    padding:20px;
}

.footer .fa-brands{
    font-size:40px;
    margin-right:20px;
    color:#918E9B;
}